*{
    margin: 0px;
    padding: 0px;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --var-Font1: "Inter", system-ui;
    --var-Font2: "Open Sans", system-ui;
    --var-ColorBaseClear: #2C7592;
    --var-ColorBaseDark1: #102332;
    --var-ColorBaseDark2: #18536a;
    --var-ColorBorderMenu: #3C5365;
    --var-ColorBorderIcon: #FFFFFF;
    --var-ColorBorderIconSelected: #F6934C;
    --var-ColorTilte: #FF9900;
    --var-GradientClearPartIcon: #F6B24C;
    --var-GradientDarkPartIcon: #AD4D07;
    --var-ColorDesc: #FFFFFF;
    --Var-ColorLettersButton: white;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

aside{
    background-color: var(--var-ColorBaseDark1);
    border-right: 2px solid var(--var-ColorBorderMenu);
    width: 25%;
    height: 100vh;
}
aside header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}
aside header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
    color: white;
}
aside header a img{
    height: 50px;
}
aside header a div{
    text-align: center;
    font-size: 18pt;
}

aside nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    height: calc(100% - 150px);
    overflow-y: scroll;
}
aside nav ul{
    list-style-type: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-categoria{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--var-ColorBorderMenu);
    width: 90%
}
.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: none;
    border: none;
}
.border-icon-categoria{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1px solid var(--var-ColorBorderIcon);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 100%;
}
.container-icon-categoria{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--var-ColorBorderIcon), var(--var-ColorBorderIcon));
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-icon-categoria img{
    height: 55px
}
.categoria p{
    color: var(--var-ColorDesc);
    font-family: var(--var-Font2);
    font-size: 15pt;
}
/*menu selecionado*/
.categoria-selected .border-icon-categoria{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1px solid var(--var-ColorBorderIconSelected);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 100%;
}
.categoria-selected .container-icon-categoria{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--var-GradientDarkPartIcon), var(--var-GradientClearPartIcon));
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categoria-selected .container-icon-categoria img{
    filter: invert(100%);
}


main{
    width: calc(100% - 25%);
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}
main header{
    height: 100px;
    width: calc(100% - 25% - 2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--var-ColorBaseDark1);
    position: fixed;
    top: 0px;
    right: 0px;
}
main header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--var-ColorBaseClear);
    height: 100px;
    text-decoration: none;
    font-family: var(--var-Font2);
    font-size: 15pt;
    color: white;
}
main header a img{
    height: 40px;
}

.container-items-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
    width: 100%;
}
.options-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 40vh;
    background-color: var(--var-ColorBorderIcon);
    color: var(--var-ColorBaseDark1);
    text-decoration: none;
}
.container-img-options-menu{
    height: 100%;
    width: 40vh;
}
.container-img-options-menu img{
    height: 100%;
    width: 40vh;
    object-fit: cover;
}
.details-options-menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: calc(100% - 40vh);
    height: 100%;
}
.buttonAddPedido{
    height: 80px;
    background-color: var(--var-ColorBaseDark1);
    width: 100%;
    border: none;
    color: var(--var-ColorDesc);
    font-family: var(--var-Font2);
    font-size: 40px;
}