*{
    margin: 0px;
    padding: 0px;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --var-Font1: "Inter", system-ui;
    --var-Font2: "Open Sans", system-ui;
    --var-ColorBaseClear: #2C7592;
    --var-ColorBaseDark2: #18536a;
    --var-ColorTilte: #FF9900;
    --var-ColorDesc: #FFFFFF;
    --Var-ColorLettersButton: white;
}



body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 85%;
    height: 100vh;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}
.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.slide::after{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, black , rgba(0, 0, 0, 0));
    z-index: 1;
}
.imgProduto{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.DescSlide{
    height: max-content;
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    z-index: 2;
}
.DescSlide h1{
    color: var(--var-ColorTilte);
    font-family: var(--var-Font1);
}
.DescSlide p{
    color: var(--var-ColorDesc);
    max-width: 70%;
    font-family: var(--var-Font2);
}

.enter-container{
    height: 100vh;
    width: 15%;
    background-color: var(--var-ColorBaseClear);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Logo{
    position: absolute;
    top: 30px;
    text-align: center;
}
#enter-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#enter-button:hover{
    background-color: var(--var-ColorBaseDark2);
}
#enter-button img{
    height: 50px;
}
#enter-button span{
    color: white;
    font-family: var(--var-Font2);
}


/*RESPONSIVIDADE*/
@media (max-height: 490px) {
    .DescSlide h1{
        font-size: 25pt;
    }
    .DescSlide p{
        font-size: 15pt;
    }
}
@media (max-height: 340px){
    .DescSlide{
        bottom: 50px;
        left: 50px;
    }
    .DescSlide h1{
        font-size: 20pt;
    }
    .DescSlide p{
        font-size: 13pt;
    }
}
@media (max-width: 870px){
    #enter-button img{
        height: 30px;
    }
    #enter-button span{
        font-size: 10pt;
    }
}
@media (max-width: 650px){
    #enter-button span{
        display: none;
    }
}
